.background-page-container {
  margin-top: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.background-left {
  flex: 1;
}

.background-center {
  flex: 5;
}

.background-image {
  width: 100%;
}

.background-right {
  flex: 1;
}

.mobile-version {
  display: none;
}

@media screen and (max-device-width: 500px) {
  .background-image {
    display: none;
  }

  .header {
    display: none;
  }

  .mobile-version {
    display: flex;
  }

  .text-mobile-page {
    flex: 1;
    background-color: none;
  }

  .mobile-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }

  .mobile-text {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 60px;
    text-align: center;
  }

  .mobile-text-bottom {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-top: 60px;
  }

  .mobile-link {
    font-size: 20px;
    font-weight: 700;
    color: black;
    transition: color 0.15s;
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
  }

  .mobile-link:hover {
    color: #17a9bf;
  }

  .mobile-link:hover {
    color: #17a9bf;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }

  .background-mobile {
    max-width: 60%;
    margin-left: 20%;
  }
}
